/* !GizliSekme Tarafından Yapılmıştır */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


.main-nav img{
    width: 50px;
    height: 50px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    scroll-behavior: smooth;

}
html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background:#262626;
    color: #fff;
    line-height: 1.6;

}

ul {
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;

}

.main-nav {
    padding: 5px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
}

.main-nav ul{
    display: flex;
    padding: 5px 0;

}


.header-nav a {
    
    color: #39B5E0;
    transition: all .9s ease-in-out;
}
.header-nav a:hover{
    color: #F3EFE0;
    transition: all .9s ease-in-out;
    border-bottom: 1px solid #F3EFE0 ;
    padding: 0 9px;

}


.header-nav{
    background-color:  #1a1a1a;
    opacity: .8;
}

.header-nav li{
    margin: 10px;
    
}
.anasayfa{
    display: flex;
    padding: 0 100px;
    align-items: center;
    height: 500px;
}
.bilgi{
    flex: 50%;
    padding: 10px;
    max-width:900px;

}

.bilgi iframe{
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 25px;
}
.bottom a{
    transition: all .9s ease-in-out;

}
.bottom a:hover{
    color: #F3EFE0;
    transition: all .9s ease-in-out;
    border-bottom: 1px solid #F3EFE0 ;
    padding: 0 9px;

}




.dowlands{
    display: flex;
    padding: 0 300px;
    align-items: center;
    height: 500px;

}
.dowland{
    border-radius: 5%;
    padding:30px  0px;
    margin: 10px;
    flex: 50%;
    overflow: hidden;
    text-align: center;
    background-color: black;
    

}

.dowlands a{
    opacity: .8;
    display: block;
    /* margin-top: ; */
    padding: 10px;
    margin: 20px;
    border-radius: 3%;
    color: #fff;
    background-color: #333 !important; 
}

.fa-question{
    font-size: 200px;
    transition: all .9s ease-in;
}

.fa-question:hover{
    font-size: 250px;
    transition: all .5s;
}


.question{
    padding: 100px;
}

.about{
    padding: 80px;
}

 
    @media (max-width: 768px) { 
        *{
            /* overflow: hidden; */

        }
        
        .main-nav ul{
            display: block;
            text-align: center;
            padding: 20px;
        }
        .bilgi{
            
            padding: 0;
            flex: 1;   
            margin-top: 10px;
        }
        
        .anasayfa{
            
            display:inline-flex;
            padding: 0;
        }
        .video{
            display: none;  

        }
        .dowlands{
            display: block;
            padding: 30px;
        }
        .dowland{
            padding: 20px;
            margin: 10px;
            overflow: hidden;
            text-align: center;
        }
        .bottom{
            height: 100px;
            padding: 80px;
            margin-bottom: 0;
        }
        .about{
            padding: 20px;
        }
        .question{
            padding: 20px;
        }
     }